.App {
  text-align: center;
}
body {
  background: radial-gradient(circle, rgba(233,206,255,1) 0%, rgba(141,255,218,1) 50%, rgba(171,241,255,1) 83%);
  height: 100vh;
}
.container {
  min-height: 500px;
  /* min-width: 200px; */
  border-radius: 60px;
  width: 300px;
  margin: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 15px 35px rgba(255, 67, 224, 0.455);
}

